<!DOCTYPE html>
<html>
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HGT0YVP86K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HGT0YVP86K');
</script>
	<meta charset="UTF-8">
	<title>Mick Schroeder's Citation and Filename Generator - FAQ
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/bib.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/static/bib.css">
	<link rel="manifest" href="/static/site.webmanifest">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://cite.mickschroeder.com">
	<meta property="og:image" content="https://cite.mickschroeder.com/static/images/schroeder-cite-card.png">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://cite.mickschroeder.com">
	<meta name="twitter:creator" content="@mick_schroeder">
	<meta name="twitter:image" content="https://cite.mickschroeder.com/static/images/schroeder-cite-card.png">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6344797609391119"
     crossorigin="anonymous"></script>
</head>
<body>
	<nav><a href="/" class="back-link">Back</a></nav>
	<main class="faq">
		<div class="container">{{{faq}}}</div>
	</main>
	<script src="/static/main.js"></script>
	<footer class="faq-footer">
		<nav class="social-nav">
			Stay in touch! 
			Follow <a href="https://twitter.com/mick_schroeder" rel="external">@mick_schroeder</a> on Twitter.
			Follow <a href="https://www.linkedin.com/in/schroedermick/" rel="external">@mick_schroeder</a> on LinkedIn.
		</nav>
		<small class="copyright">
			ZoteroBib is copyright © 2018 <a href="http://digitalscholar.org/">Corporation for Digital Scholarship</a>.
			<br/>
			All emojis designed by <a href="https://openmoji.org/" rel="nofollow">OpenMoji</a> – the open-source emoji and icon project. License: <a href="https://creativecommons.org/licenses/by-sa/4.0/#" rel="nofollow">CC BY-SA 4.0</a>
			<br/>
			© 2020 Mick Schroeder, LLC. License: <a href="https://www.gnu.org/licenses/agpl.html" rel="nofollow">GNU AGPL</a>
		</small>
	</footer>
</body>
</html>
