<nav
	class="tw-backdrop-blur tw-bg-white/80 dark:tw-bg-gray-800/80 tw-border-0 tw-border-b tw-border-solid tw-border-gray-200 tw-px-4 tw-py-2.5 dark:tw-border-gray-700 md:tw-fixed tw-left-0 tw-right-0 tw-top-0 tw-z-50"
>
	<div class="tw-flex tw-flex-wrap tw-justify-center md:tw-justify-between tw-items-center">
		<div><a
				href="/"
				class="tw-flex tw-items-center tw-justify-between tw-mr-4"
			>
				</a></div>
		<div class="tw-flex tw-justify-start tw-items-center">
			
			<a
				href="/"
				class="tw-flex tw-items-center tw-justify-between tw-mr-4"
			>
				<img
					src="static/images/icon-cite.png"
					class="tw-mr-3 tw-h-8"
					alt="Logo"
				/>
				<span
					class="tw-self-center tw-text-2xl tw-font-black tw-text-black dark:tw-text-white"
				>Mick Schroeder's Citation Generator</span>
			</a>
		</div>
		<div class=" tw-items-center lg:tw-order-2 tw-hidden md:tw-flex">
		

<a href="https://chrome.google.com/webstore/detail/mick-schroeders-citation/gocmebnobccjiigdnakfmlieghedgdhk"
										rel="external" target="_blank" class="tw-text-white tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 focus:tw-outline-none dark:focus:tw-ring-blue-800">Get our Chrome Extension</a>

	
		</div>
	</div>
</nav>