<nav
	class="tw-bg-white tw-border-0 tw-border-b tw-border-solid tw-border-gray-200 tw-px-4 tw-py-2.5 dark:tw-bg-gray-800 dark:tw-border-gray-700 tw-fixed tw-left-0 tw-right-0 tw-top-0 tw-z-50"
>
	<div class="tw-flex tw-flex-wrap tw-justify-between tw-items-center">
		<div class="tw-flex tw-justify-start tw-items-center">
			<button
				data-drawer-target="drawer-navigation"
				data-drawer-toggle="drawer-navigation"
				aria-controls="drawer-navigation"
				class="tw-p-2 tw-mr-2 tw-text-gray-600 tw-rounded-lg tw-cursor-pointer md:tw-hidden hover:tw-text-gray-900 hover:tw-bg-gray-100 focus:tw-bg-gray-100 dark:focus:tw-bg-gray-700 focus:tw-ring-2 focus:tw-ring-gray-100 dark:focus:tw-ring-gray-700 dark:tw-text-gray-400 dark:hover:tw-bg-gray-700 dark:hover:tw-text-white"
			>
				<svg
					aria-hidden="true"
					class="tw-w-6 tw-h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
						clip-rule="evenodd"
					></path>
				</svg>
				<svg
					aria-hidden="true"
					class="tw-hidden tw-w-6 tw-h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
						clip-rule="evenodd"
					></path>
				</svg>
				<span class="tw-sr-only">Toggle sidebar</span>
			</button>
			<a
				href="/"
				class="tw-flex tw-items-center tw-justify-between tw-mr-4"
			>
				<img
					src="static/images/icon-cite.png"
					class="tw-mr-3 tw-h-8"
					alt="Logo"
				/>
				<span
					class="tw-self-center tw-text-2xl tw-font-semibold tw-whitespace-nowrap dark:tw-text-white"
				>Mick Schroeder's Citation Generator</span>
			</a>
		</div>
		<div class="tw-flex tw-items-center lg:tw-order-2">
			<button
				type="button"
				data-drawer-toggle="drawer-navigation"
				aria-controls="drawer-navigation"
				class="tw-p-2 tw-mr-1 tw-text-gray-500 tw-rounded-lg md:tw-hidden hover:tw-text-gray-900 hover:tw-bg-gray-100 dark:tw-text-gray-400 dark:hover:tw-text-white dark:hover:tw-bg-gray-700 focus:tw-ring-4 focus:tw-ring-gray-300 dark:focus:tw-ring-gray-600"
			>
				<span class="tw-sr-only">Toggle search</span>
				<svg
					aria-hidden="true"
					class="tw-w-6 tw-h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					aria-hidden="true"
				>
					<path
						clip-rule="evenodd"
						fill-rule="evenodd"
						d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
					></path>
				</svg>
			</button>

<a href="#" class="tw-text-white tw-bg-blue-700 hover:tw-bg-blue-800 focus:tw-ring-4 focus:tw-ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-mr-2 tw-mb-2 dark:tw-bg-blue-600 dark:hover:tw-bg-blue-700 focus:tw-outline-none dark:focus:tw-ring-blue-800">Get our Chrome Extension</a>

	
		</div>
	</div>
</nav>