    <aside
      class="tw-fixed tw-top-0 tw-left-0 tw-z-40 tw-w-64 tw-h-screen tw-pt-14 tw-transition-transform tw--translate-x-full tw-bg-white tw-border-0 tw-border-solid tw-border-r tw-border-gray-200 md:tw-translate-x-0 dark:tw-bg-gray-800 dark:tw-border-gray-700"
      aria-label="Sidenav"
      id="drawer-navigation"
    >
      <div class="tw-overflow-y-auto tw-py-5 tw-px-3 tw-h-full tw-bg-white dark:tw-bg-gray-800">
        <ul class="tw-list-none tw-m-0 tw-p-0 tw-space-y-2">
          <li>
            <a
              href="#"
              class="tw-flex tw-items-center tw-p-2 tw-text-base tw-font-medium tw-text-gray-900 tw-rounded-lg dark:tw-text-white hover:tw-bg-gray-100 dark:hover:tw-bg-gray-700 group"
            >
             <svg
                aria-hidden="true"
                class="tw-flex-shrink-0 tw-w-6 tw-h-6 tw-text-gray-500 tw-transition tw-duration-75 group-hover:tw-text-gray-900 dark:tw-text-gray-400 dark:group-hover:tw-text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="tw-ml-3">Home</span>
            </a>
          </li>
                    <li>
            <a
              href="#"
              class="tw-flex tw-items-center tw-p-2 tw-text-base tw-font-medium tw-text-gray-900 tw-rounded-lg dark:tw-text-white hover:tw-bg-gray-100 dark:hover:tw-bg-gray-700 group"
            >
              <svg
                aria-hidden="true"
                class="tw-flex-shrink-0 tw-w-6 tw-h-6 tw-text-gray-500 tw-transition tw-duration-75 group-hover:tw-text-gray-900 dark:tw-text-gray-400 dark:group-hover:tw-text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="tw-ml-3">Help / Guide</span>
            </a>
          </li>
             <li>
            <a
              href="#"
              class="tw-flex tw-items-center tw-p-2 tw-text-base tw-font-medium tw-text-gray-900 tw-rounded-lg dark:tw-text-white hover:tw-bg-gray-100 dark:hover:tw-bg-gray-700 group"
            >
              <svg
                aria-hidden="true"
                class="tw-flex-shrink-0 tw-w-6 tw-h-6 tw-text-gray-500 tw-transition tw-duration-75 group-hover:tw-text-gray-900 dark:tw-text-gray-400 dark:group-hover:tw-text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="tw-ml-3">Source Code</span>
            </a>
          </li>
             <li>
            <a
              href="#"
              class="tw-flex tw-items-center tw-p-2 tw-text-base tw-font-medium tw-text-gray-900 tw-rounded-lg dark:tw-text-white hover:tw-bg-gray-100 dark:hover:tw-bg-gray-700 group"
            >
              <svg
                aria-hidden="true"
                class="tw-flex-shrink-0 tw-w-6 tw-h-6 tw-text-gray-500 tw-transition tw-duration-75 group-hover:tw-text-gray-900 dark:tw-text-gray-400 dark:group-hover:tw-text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="tw-ml-3">Mick Schroeder</span>
            </a>
          </li>
                    
          
        </ul>
        
      </div>
      <div
        class="tw-hidden tw-absolute tw-bottom-0 tw-left-0 tw-justify-center tw-p-4 tw-space-x-4 tw-w-full lg:tw-flex tw-bg-white dark:tw-bg-gray-800 tw-z-20"
      >
        <a
          href="#"
          class="tw-inline-flex tw-justify-center tw-p-2 tw-text-gray-500 tw-rounded tw-cursor-pointer dark:tw-text-gray-400 hover:tw-text-gray-900 dark:hover:tw-text-white hover:tw-bg-gray-100 dark:hover:tw-bg-gray-600"
        >
          <svg
            aria-hidden="true"
            class="tw-w-6 tw-h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
            ></path>
          </svg>
        </a>
        <a
          href="#"
          data-tooltip-target="tooltip-settings"
          class="tw-inline-flex tw-justify-center tw-p-2 tw-text-gray-500 tw-rounded tw-cursor-pointer dark:tw-text-gray-400 dark:hover:tw-text-white hover:tw-text-gray-900 hover:tw-bg-gray-100 dark:hover:tw-bg-gray-600"
        >
          <svg
            aria-hidden="true"
            class="tw-w-6 tw-h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
        <div
          id="tooltip-settings"
          role="tooltip"
          class="tw-inline-block tw-absolute tw-invisible tw-z-10 tw-py-2 tw-px-3 tw-text-sm tw-font-medium tw-text-white tw-bg-gray-900 tw-rounded-lg tw-shadow-sm tw-opacity-0 tw-transition-opacity tw-duration-300 tooltip"
        >
          Settings page
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        
      </div>
    </aside>